.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.loader {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #4e75ff;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

.loader.hidden {
  display: none;
}

@keyframes animloader {
  0% {
    box-shadow: -32px 0 #fff inset;
  }
  100% {
    box-shadow: 32px 0 #fff inset;
  }
}
